<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.softsociety.secretary.dao.BoardDAO">

<resultMap id="boardResultMap" type="Board">
	    <result property="userId" column="user_id" />
	    <result property="boardId" column="board_id" />
	    <result property="boardContent" column="board_content" />
	    <result property="boardAnswer" column="board_answer" />
	    <result property="boardAnswerDate" column="board_answerdate" />
	    <result property="boardStatus" column="board_status" />
	    <result property="boardTitle" column="board_title" />
	    <result property="boardIsPublic" column="board_ispublic" />
	    <result property="boardCategory1" column=" board_category1" />
	    <result property="boardCategory2" column="board_category2" />
	    <result property="boardHits" column="board_hits" />
	    <result property="boardInputdate" column="board_inputdate" /> 
</resultMap>

<!-- 1:1문의 글 등록 -->
<insert id="write" parameterType="Board">
  insert into secretary_board 
    (board_id, board_category1, board_category2, board_title, board_content, user_id, board_ispublic) 
  values 
    (secretary_board_seq.nextval, #{boardCategory1}, #{boardCategory2}, #{boardTitle}, #{boardContent}, #{userId}, #{boardIsPublic}
    ) 
</insert>

<!-- 글 목록 -->
<select id="selectAllBoard" resultType="Board">
select * from secretary_board
</select>

<!-- 글읽기 -->
<select id="read" parameterType="int" resultType="Board">
    select * from secretary_board where board_id = #{boardId}
</select>


<!-- 글삭제 -->
<delete id="deleteBoard" parameterType="int">
delete from secretary_board where board_id = #{boardId}
</delete>
 

</mapper>