<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.secretary.dao.FridgeUsedDAO">
	<!-- 소비 이력 추가 -->
	<insert id="insertUsedFood" parameterType="FridgeUsed">
	    INSERT INTO Secretary_Fridge_Used (fridge_used_id, fridge_id, food_id, fridge_quantity_used, fridge_food_name)
	    VALUES (fridge_used_seq.NEXTVAL, #{fridgeId}, #{foodId}, #{fridgeQuantityUsed}, #{fridgeFoodName})
	</insert>
	
	<select id="getAllUsedFoods" resultType="FridgeUsed">
	    SELECT fridge_food_name, fridge_quantity_used, fridge_used_date
	    FROM Secretary_Fridge_Used
	    ORDER BY fridge_used_date DESC
	</select>
</mapper>