<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.secretary.dao.FridgeFoodDAO">
	<!-- 냉장고에 음식 추가 -->
    <insert id="insertFridgeFood" parameterType="FridgeFood">
        INSERT INTO SECRETARY_FRIDGE_FOOD (FOOD_ID, FOOD_NAME, FRIDGE_ID, FOOD_QUANTITY, FOOD_CATEGORY, FOOD_INPUT_DATE, FOOD_PURCHASE_DATE, FOOD_MADE_DATE, FOOD_EXPIRY_DATE, FOOD_PRICE, FOOD_ORIGINAL_FILE, FOOD_SAVED_FILE)
        VALUES (FRIDGE_FOOD_SEQ.NEXTVAL, #{foodName}, #{fridgeId}, #{foodQuantity}, #{foodCategory}, #{foodInputDate}, #{foodPurchaseDate}, #{foodMadeDate}, #{foodExpiryDate}, #{foodPrice}, #{foodOriginalFile}, #{foodSavedFile})
    </insert>
</mapper>