<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.secretary.dao.RememberMeTokenMapper">
    <insert id="insertToken">
        INSERT INTO persistent_logins (username, series, token, last_used)
        VALUES (#{username}, #{series}, #{token}, #{lastUsed})
    </insert>
    
    <update id="updateToken">
        UPDATE persistent_logins
        SET token = #{token}, last_used = #{lastUsed}
        WHERE series = #{series}
    </update>
    
    <delete id="deleteToken">
        DELETE FROM persistent_logins
        WHERE series = #{series}
    </delete>
    
    <select id="getToken" resultType="RememberMeToken">
        SELECT username, series, token, last_used
        FROM persistent_logins
        WHERE series = #{series}
    </select>
</mapper>