<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.secretary.dao.ScheduleDAO">

<!-- 일정 목록 불러오기 -->
<select id="selectAllSche" parameterType="hashmap" resultType="Schedule">
	SELECT
		sch_id
		, user_id
		, family_id
		, sch_type
		, sch_cate
		, sch_level
		, sch_content
		, sch_start
		, sch_end
		, sch_allday
	FROM
		Secretary_Schedule
	WHERE
		family_id = #{familyId}
</select>

<!-- 일정 삭제 -->
<delete id="deleteSch" parameterType="hashmap">
	DELETE FROM
		Secretary_Schedule
	WHERE
		sch_id = #{schId}
		<!-- AND user_id = #{userId} -->
		AND family_id = #{familyId}
</delete>
</mapper>