<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>[ Home ]</title>
</head>
<body>
	<h1>[ Home ]</h1>
	
	<div th:if="${loginUser != null}">
	    <p>환영합니다, <span th:text="${loginUser.userNickname}">닉네임</span>님!</p>
	</div>

	
	<a sec:authorize="!isAuthenticated()" th:href="@{user/login}">로그인</a>
	<a sec:authorize="!isAuthenticated()" th:href="@{user/signin}">회원가입</a>
	<a sec:authorize="isAuthenticated()" th:href="@{user/logout}">로그아웃</a>
</body>
</html>