
<!DOCTYPE html>
<htmllang="en"
	  class="light-style layout-menu-fixed"
	  dir="ltr"
	  data-theme="theme-default"
	  th:data-assets-path="@{/assets/}"
	  data-template="vertical-menu-template-free"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
<meta name="description" content="" />
<title>List</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script th:src="@{/js/jquery-3.7.0.js}"></script>
<!-- ------------------------------------------------------------------------ -->
<!-- Favicon -->
  <link
    rel="icon"
    type="image/x-icon"
    th:href="@{/assets/img/favicon/favicon.ico}"
  />
  
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet"
  />
  
   <!-- Icons. Uncomment required icon fonts -->
  <link rel="stylesheet" th:href="@{/assets/vendor/fonts/boxicons.css}" />
  
  <!-- Core CSS -->
  <link
    rel="stylesheet"
    th:href="@{/assets/vendor/css/core.css}"
    class="template-customizer-core-css"
  />
  <link
    rel="stylesheet"
    th:href="@{/assets/vendor/css/theme-default.css}"
    class="template-customizer-theme-css"
  />
  <link rel="stylesheet" th:href="@{/assets/css/demo.css}" />
  
  <!-- Vendors CSS -->
  <link
    rel="stylesheet"
    th:href="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}"
  />

  <link
    rel="stylesheet"
    th:href="@{/assets/vendor/libs/apex-charts/apex-charts.css}"
  />
  
  <!-- Helpers -->
  <script th:src="@{/assets/vendor/js/helpers.js}"></script>
  <script th:src="@{/assets/js/config.js}"></script>
<!-- ------------------------------------------------------------------------- -->
<script>
//답변 후 현재 페이지 리로딩
function reloadPage() {
    location.reload(); 
}
function pagingFormSubmit(currentPage) {
	var form = document.getElementById('pagingForm')
	var page = document.getElementById('page')
	page.value = currentPage;
	form.submit();
}<!--
function categoryChangeSubmit() {
    var selectedCategory = document.getElementById('boardCategory2').value;
    var form = document.getElementById('pagingForm');
    var page = document.getElementById('page');
    page.value = 1; // 페이지를 1로 초기화 (선택한 카테고리 변경 시 첫 페이지로 이동)
    form.submit();
}

function categoryFirst() {
    let cate1 = document.getElementById('boardCategory1').value;
    console.log("cate1:", cate1); 

    // 카테고리 1이 "문의"일 때만 2차 카테고리 선택바 표시, 그 외에는 숨김
    var category2Box = document.getElementById('category2Box');
    var boardCategory2 = document.getElementById('boardCategory2');
    if (cate1 === 'inquiry') {
        category2Box.style.display = 'block';
        boardCategory2.disabled = false; // Enable the dropdown
    } else {
        category2Box.style.display = 'none';
        boardCategory2.disabled = true; // Disable the dropdown
    }

    // 카테고리가 변경되었으므로 페이지 제출
    categoryChangeSubmit();
}
</script>

</head>

<body>

	<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!-- Menu -->
      <aside
        id="layout-menu"
        class="layout-menu menu-vertical menu bg-menu-theme"
      >
      
      <div class="app-brand demo">
          <a th:href="@{/admin/adminHome}" class="app-brand-link">
            <span class="app-brand-logo demo">
              <img
                th:src="@{/images/12124889.png}"
                alt="logo"
                style="width: 3rem"
              />
            </span>
            <span class="app-brand-text demo menu-text fw-bolder ms-2">관리자</span>
          </a>

          <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
          </a>
      </div>

      <div class="menu-inner-shadow"></div>

        <ul class="menu-inner py-1">
          <!-- 홈 -->
          <li class="menu-item active">
            <a href="@{/main}" class="menu-link">
              <i class="menu-icon tf-icons bx bx-home-circle"></i>
              <div data-i18n="Analytics">홈</div>
            </a>
          </li>

          <!-- 회원목록 -->
  <li class="menu-item">
    <a th:href="@{/admin/list}" class="menu-link">
      <i class="menu-icon tf-icons bx bx-user"></i>
      <div>유저 조회</div>
    </a>
  </li>

  <!-- 게시판 -->
  <li class="menu-header small text-uppercase">
    <span class="menu-header-text">Board</span>
  </li>
  <li class="menu-item">
     <a th:href="@{/board/frequently/list}" class="menu-link">
       <div data-i18n="Buttons">자주묻는질문</div>
     </a> 
  </li>
  <li class="menu-item">
     <a th:href="@{/board/notification/list}" class="menu-link">
        <div data-i18n="Buttons">공지</div>
     </a> 
  </li>
  <li class="menu-item">
     <a th:href="@{/board/inquiry/list}" class="menu-link">
        <div data-i18n="Buttons">문의</div>
     </a> 
  </li>
  
  <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Support</span>
            </li>
            <li class="menu-item">
              <a
                href="https://chat.openai.com/"
                target="_blank"
                class="menu-link"
              >
                <i class="menu-icon tf-icons bx bx-support"></i>
                <div data-i18n="Support">고객지원</div>
              </a>
  </li>
  </ul>
</aside>

 <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar 상단바 -->
          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div
              class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none"
            >
              <a
                class="nav-item nav-link px-0 me-xl-4"
                href="javascript:void(0)"
              >
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>
			<!-- 상단바 오른쪽 -->
            <div
              class="navbar-nav-right d-flex align-items-center"
              id="navbar-collapse"
            >
              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- 검색 -->
                <li>
                  <div class="navbar-nav align-items-center">
                    <div class="nav-item d-flex align-items-center">
                      <i class="bx bx-search fs-4 lh-0"></i>
                      <input
                        type="text"
                        class="form-control border-0 shadow-none"
                        placeholder="검색어를 입력하세요"
                        aria-label="검색어를 입력하세요"
                      />
                    </div>
                  </div>
                </li>
              <!-- /Search -->

              <!-- 알림 종 -->
                <li
                  class="nav-item navbar-dropdown dropdown-user dropdown"
                  style="margin-right: 1.3rem"
                >
                  <a
                    class="nav-link dropdown-toggle hide-arrow"
                    href="javascript:void(0);"
                  >
                    <!-- 종 이미지-->
                    <div class="bx bx-bell bx-tada-hover bx-sm"></div>
                  </a>
                </li>
				
				 <!-- User 유저 아이콘 -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a
                    class="nav-link dropdown-toggle hide-arrow"
                    href="javascript:void(0);"
                    data-bs-toggle="dropdown"
                  >
                    <div class="avatar avatar-online">
                      <img
                        th:src="@{/images/profileimg/10228364.png}"
                        alt
                        class="w-px-40 h-auto rounded-circle"
                      />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img
                                th:src="@{/assets/img/avatars/1.png}"
                                alt
                                class="w-px-40 h-auto rounded-circle"
                              />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span th:text="${loginUser.userNickname}" class="fw-semibold d-block">별명</span>
                            <small th:text="${loginUser.userId}" class="text-muted"></small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" th:href="@{/member/profile}">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">내 프로필</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" th:href="@{/member/settings}">
                        <i class="bx bx-cog me-2"></i>
                        <span class="align-middle">설정</span>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" th:href="@{/user/logout}">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">로그아웃</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>

          <!-- / Navbar -->
  


	<div class="content-wrapper">
      	<div class="container-xxl flex-grow-1 container-p-y">
      		<div class="row">	
      			<div class="col-lg-10 mb-4">
      				<div class="card">
 						<div class="card-body" style="position: relative; padding-top: 40px">
 							 <div>
						      	<form id="pagingForm" th:action="@{/board/list}" method="get">
						      		<input type="hidden" name="page" id="page">
						       		 <select id="boardCategory1" name="boardCategory1" onchange="categoryFirst()">
						       		     <option value="inquiry" th:selected="${boardCategory1} =='inquiry'">문의</option>
						           		 <option value="notification" th:selected="${boardCategory1} =='notification'">공지</option>
						                 <option value="frequently" th:selected="${boardCategory1} =='frequently'">자주묻는질문</option>     		 
						       		 </select>   
						       		 <div id="category2Box" >  
							      		<select id="boardCategory2" name="boardCategory2" onchange="categoryChangeSubmit()">
								  			<option value="all" th:selected="${boardCategory2} =='all'">전체</option>
								   			<option value="account" th:selected="${boardCategory2} =='account'">계정</option>
								            <option value="service" th:selected="${boardCategory2} =='service'">서비스</option>
								       		<option value="error" th:selected="${boardCategory2} =='error'">오류</option>
								       		<option value="other" th:selected="${boardCategory2} =='other'">기타</option>           		 
								  		</select> 
							       		 </div>
							        </form>  
							  </div>

							 <section class="listbox">
	
								 <table>
								 
								  <tr>
								     <td>
							             전체 <span th:text="${navi.totalRecordsCount}"></span>
							         </td>         
							         <td>
							            <a th:href="@{/board/write}">글쓰기</a>
							            <a th:href="@{/main}">Home</a>
							         </td>
								  </tr>
								  <tr>
								  	  <td><span class="name">번호</span></td>
								      <td><span class="name">답변상태</span></td>
								      <td><span class="name">제목</span></td>
								      <td><span class="name">작성자</span></td>
								      <td><span class="name">조회수</span></td>
								      <td><span class="name">작성일</span></td>
								  </tr>
								  <tr th:each="b : ${list}">
								  	  <td ><span th:text="${b.boardId}"></span></td>
								      <td ><span th:if="${b.boardStatus == 0}">답변대기</span>
										   <span th:if="${b.boardStatus != 0}">답변완료</span>
							          </td>
								      <td ><a th:href="@{/board/read(boardId=${b.boardId})}"
							                 th:text="${b.boardTitle}"></a></td>
								      <td ><span th:text="${b.userId}"></span></td>
								      <td ><span th:text="${b.boardHits}"></span></td>
								      <td ><span th:text="${b.boardInputdate}"></span></td>
								  </tr>  
								  
								 </table>
								 
								 <div id="navigator">
								
								 <!--페이지 이동 링크  -->     
								<a th:href="|javascript:pagingFormSubmit(${navi.currentPage - navi.pagePerGroup})|">◁◁</a>
								<a th:href="|javascript:pagingFormSubmit(${navi.currentPage - 1})|">◀</a> 
							
								<span th:each="counter : ${#numbers.sequence(navi.startPageGroup, navi.endPageGroup)}"> 
									<th:block th:if="${counter == navi.currentPage}"><b></th:block>
										<a th:text="${counter}" th:href="|javascript:pagingFormSubmit(${counter})|"></a>&nbsp;
									<th:block th:if="${counter == navi.currentPage}"></b></th:block>
								</span>
								
								<a th:href="|javascript:pagingFormSubmit(${navi.currentPage + 1})|">▶</a> 
								<a th:href="|javascript:pagingFormSubmit(${navi.currentPage + navi.pagePerGroup})|">▷▷</a>
								<br><br>
								 
								 
							    
								</div>
							</section>  
 						</div>
      				</div>
      			</div>
			</div>
	   </div>
	</div>  



</body>
</html>



