<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>update</title>
<script th:src="@{/js/jquery-3.7.0.js}"></script>
<script>
	//문의글 유효한지 확인
	function check() {
		let con1 = document.getElementById('boardCategory2');
		let con2 = document.getElementById('boardTitle');
		let con3 = document.getElementById('boardContent');
		if (con1.value == '' || con2.value =='' || con3.value =='') {
			alert('내용을 입력하세요');
			return false;
		}
		if (con2.value.length < 2) {
			alert('제목은 2자 이상이어야 합니다');
			return false;
		}
		
		if (con3.value.length < 10) {
			alert('내용은 10자 이상이어야 합니다');
			return false;
		}
		
		return true;
	}
	 //비밀글 체크
	function checkboxChange() {
    let boardIsPublicCheckbox = document.getElementById("boardIsPublic");
    
    if (boardIsPublicCheckbox.checked) {
        console.log("Checkbox checked: 0");
        boardIsPublicCheckbox.value = "0"; // 값이 0으로 변경
    } 
}

 </script>
</head>
<body>
<h1>[1:1 문의글 수정]</h1>

<form th:action="@{/board/update}" method="post" onsubmit="return check();">

    <!-- 기존 게시글 정보를 Thymeleaf 변수로 받아옴 -->
    <input type="hidden" name="boardId" th:value="${b.boardId}">
    <input type="hidden" name="boardCategory1" th:value="${b.boardCategory1}">
    
    카테고리<select name="boardCategory2" id="boardCategory2">
        <option value="">카테고리 선택</option>
        <option value="account" th:selected="${b.boardCategory2 == 'account'}">계정</option>
        <option value="service" th:selected="${b.boardCategory2 == 'service'}">서비스</option>
        <option value="error" th:selected="${b.boardCategory2 == 'error'}">오류신고</option>
        <option value="other" th:selected="${b.boardCategory2 == 'other'}">기타</option>
    </select><br>
    
    제목<input type="text" name="boardTitle" id="boardTitle" th:value="${b.boardTitle}" ><br>
    
    내용<textarea name="boardContent" id="boardContent" > [[${b.boardContent}]]</textarea><br>
    
    비밀글<input type="checkbox" name="boardIsPublic" id="boardIsPublic" value="1" onchange="checkboxChange()" th:checked="${b.boardIsPublic}"><br>
    <input type="submit" value="수정">   
</form>
<form th:action="@{/board/list2}" method="get">
	 <input type="submit" value="취소">
</form>

</body>
</html>
