@charset "UTF-8";

#clothesSearchbtn{
	background-color: rgba(223,132,166,255);
	border-color: rgba(223,132,166,255);
}
/*옷장보기, 코디일지 css*/
.col-md-6 > p {
	font-size:1.6em;
	margin:0em;
	padding:0em;
}

.col-md-6 > p > button {
	font-size:0.6em;
	position:relative;
	left:2.6em;
}

.col-md-6 img {
	width:8em;
}

.col-md-6 td {
	text-align:center;
	font:bold;
	font-size: 1.4em;
}

.col-md-6 table{
	width:100%;
	height: 100%;
	margin-bottom:1em;
	position:relative;
	left:1em;
}

.col-md-6 table p{
    margin-bottom: 0.2em;
}

/* 가로스크롤 만들기*/
.col-md-6 div.card {
	overflow:auto; 
	white-space: nowrap;
}

.col-md-6 div.card-body{
	display:inline-block; 
	align: center;
	padding-left:10px;
	height: 270px;
}


/* 옷장보기, 코디일지 css 끝*/

#closetNameForInsert {
	width:8em;
}

/*세탁물 게이지*/
.progress {
	width:340px;
	height:25px;
	text-align:left;
}
.progress div {
	width: 75%; height:25px;
}
.btn-pink{
	align-items: flex-start;
	appearance: button;
	background-color: rgba(223,132,166,255);
	border-bottom-color: rgba(223,132,166,255);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-style: solid;
	border-bottom-width: 0.8px;
	border-collapse: collapse;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgba(223,132,166,255);
	border-left-style: solid;
	border-left-width: 0.8px;
	border-right-color: rgba(223,132,166,255);
	border-right-style: solid;
	border-right-width: 0.8px;
	border-top-color: rgba(223,132,166,255);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-style: solid;
	border-top-width: 0.8px;
	/*box-shadow: rgba(255, 62, 29, 0.4) 0px 2px 4px 0px;*/
	box-sizing: border-box;
	caption-side: bottom;
	color: rgb(255, 255, 255);
	color-scheme: light;
	cursor: pointer;
	display: inline-block;
	font-family: "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-feature-settings: normal;
	font-kerning: auto;
	font-optical-sizing: auto;
	font-size: 15px;
	font-stretch: 100%;
	font-style: normal;
	font-variant-alternates: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-variation-settings: normal;
	font-weight: 400;
	/*height: 38.55px;*/
	letter-spacing: normal;
	line-height: 22.95px;
	margin-bottom: 0.2em;
	/*margin-left: 5px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 7px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 7px;*/
	text-align: center;
	text-indent: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	text-wrap: nowrap;
	transition-delay: 0s;
	transition-duration: 0.2s;
	transition-property: all;
	transition-timing-function: ease-in-out;
	user-select: none;
	vertical-align: middle;
	white-space-collapse: preserve;
	/*width: 86.6px;*/
	word-spacing: 0px;
	writing-mode: horizontal-tb;
	-webkit-font-smoothing: antialiased;
	-webkit-rtl-ordering: logical;
	-webkit-tap-highlight-color: rgba(67, 89, 113, 0);
}
