@charset "UTF-8";


.searchCloset {
	margin-bottom:20px;
} 
/* 옷찾기 */
.searchCloset select {
	height:30px;
}
.searchCloset .searchWord{
	height:30px;
	width:75%;
}

/* 옷등록*/
#imagePreview img{
	width:100%;
}
#uploadIMG {
	padding-left:32%;
}

.insertClothes{
	text-align:center;
}

.insertClothes input {
	text-align:center;
	font-size:10px; 
}