<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>adminHome</title>   
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- Favicon -->
  <link
    rel="icon"
    type="image/x-icon"
    href="/secretary/assets/img/favicon/favicon.ico"
  />
  
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet"
  />
  
   <!-- Icons. Uncomment required icon fonts -->
  <link rel="stylesheet" href="/secretary/assets/vendor/fonts/boxicons.css" />
  
  <!-- Core CSS -->
  <link
    rel="stylesheet"
    href="/secretary/assets/vendor/css/core.css"
    class="template-customizer-core-css"
  />
  <link
    rel="stylesheet"
    href="/secretary/assets/vendor/css/theme-default.css"
    class="template-customizer-theme-css"
  />
  <link rel="stylesheet" href="/secretary/assets/css/demo.css" />
  
  <!-- Vendors CSS -->
  <link
    rel="stylesheet"
    href="/secretary/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"
  />

  <link
    rel="stylesheet"
    href="/secretary/assets/vendor/libs/apex-charts/apex-charts.css"
  />
  
  <!-- Helpers -->
  <script src="/secretary/assets/vendor/js/helpers.js"></script>
  
   <!-- 소영 추가 JS --> 
  <script src="/secretary/js/jquery-3.7.0.js"></script> 
  <script src="/secretary/js/fullcalendar/dist/index.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/secretary/js/main/index.js"></script>
  <script src="/secretary/js/main/mainCal.js"></script>
  <script src="/secretary/js/cashbook/cashbookChart.js"></script>
  
  <!-- Helpers -->
  <script src="/secretary/assets/vendor/js/helpers.js"></script>
  
  <script src="/secretary/assets/js/config.js"></script>
<!-- ////최근 7일 로그인 수 조회 ////-->
<script>
//새 차트를 만들 때 새로운 Chart.js 인스턴스가 할당
let myChart = null;

function fetchLoginDataAndDrawChart() {
    $.ajax({
        url: 'dailyLogin',
        type: 'GET',
        dataType: 'json',
        success: function (loginData) {
            //console.log('Login data:', loginData);
            const labels = loginData.slice(-7).map(entry => entry.loginDate);
            const counts = loginData.slice(-7).map(entry => entry.dailyLoginCount);
            //console.log('Labels:', labels);
            //console.log('Counts:', counts);
            drawLoginChart(labels, counts);
            
        },
        error: function (error) {
            console.error('Error fetching login data:', error);
        }
    });
}

function drawLoginChart(labels, counts) {
    const chartData = {
        labels: labels,
        datasets: [{
            label: '일일 로그인 수',
            data: counts,
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
        }]
    };

    const canvas = document.getElementById('myChart');
    
    // 차트 재생성 전 기존차트 삭제
    if (myChart instanceof Chart) {
        myChart.destroy();
    }

    // 새로운 값으로 차트 생성
    myChart = new Chart(canvas, {
        type: 'bar',
        data: chartData,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
}
//<!-- ------------------------------------------------------------------------------ ----------------------------------------------------->

<!-- ///##최근7일 시간별 접속자 수 출력 ##///-->

let hourlyChart = null;

function fetchHourlyLoginDataAndDrawChart() {
	// 현재 날짜를 생성
    const currentDate = new Date();

    // 날짜를 'YYYY-MM-DD' 형식의 문자열로 변환
    const formattedDate = currentDate.toISOString().split('T')[0];
    console.log('formattedDate', formattedDate);
    
    $.ajax({
        url: 'hourlyLogin',  
        type: 'GET',
        data: { date: formattedDate },
        dataType: 'json',
        success: function (hourlyData) {
            //console.log('Hourly data:', hourlyData);
         	// 시간순으로 정렬
            hourlyData.sort((a, b) => a.loginHour - b.loginHour);
            const labels = hourlyData.map(entry => entry.loginHour);
            const counts = hourlyData.map(entry => entry.loginCount);
            //console.log('Labels:', labels);
            //console.log('Counts:', counts);
            drawHourlyLoginChart(labels, counts);
        },
        error: function (error) {
            console.error('Error fetching hourly login data:', error);
        }
    });
}

function drawHourlyLoginChart(labels, counts) {
    const chartData = {
        labels: labels,
        datasets: [{
            label: '시간별 로그인 수',
            data: counts,
            fill: false,
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 2,
            pointBackgroundColor: 'rgba(75, 192, 192, 1)',
            pointRadius: 4
        }]
    };

    const canvas = document.getElementById('hourlyChart');

    const config = {
        type: 'line',
        data: chartData,
        options: {
            scales: {
                x: {
                    type: 'category',
                    labels: labels,
                    beginAtZero: true
                },
                y: {
                    beginAtZero: true
                }
            }
        }
    };

    // 차트 재생성 전 기존 차트 삭제
    if (hourlyChart instanceof Chart) {
        hourlyChart.destroy();
    }

    /// 새로운 값으로 차트 생성
    hourlyChart = new Chart(canvas, {
        type: 'line',
        data: chartData,
        options: {
            scales: {
                x: {
                    type: 'category',
                    labels: labels,
                    beginAtZero: true
                },
                y: {
                    beginAtZero: true
                }
            }
        }
    });
}
<!-- ------------------------------------------------------------------------------ -->
// 일별 전체 게시물 개수 체크 
let boardChart = null;

function fetchBoardDataAndDrawChart() {
    $.ajax({
        url: 'boardCount',
        type: 'GET',
        dataType: 'json',
        success: function (boardData) {
            //console.log('Board data:', boardData);
            const boardLabels = boardData.slice(-7).map(entry => entry.postingDate);
            const boardCounts = boardData.slice(-7).map(entry => entry.dailyPostCount);
            //console.log('Labels:', boardLabels);
            //console.log('Counts:', boardCounts);
            drawBoardChart(boardLabels, boardCounts);
            
        },
        error: function (error) {
            console.error('Error fetching board data:', error);
        }
    });
}

function drawBoardChart(labels, counts) {
    const chartData = {
        labels: labels,
        datasets: [{
            label: '일별 게시물 수',
            data: counts,
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
        }]
    };

    const canvas = document.getElementById('boardChart');
    
    // 차트 재생성 전 기존차트 삭제
    if (boardChart instanceof Chart) {
    	boardChart.destroy();
    }

    // 새로운 값으로 차트 생성
    boardChart = new Chart(canvas, {
        type: 'bar',
        data: chartData,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
}

//<!-- ------------------------------------------------------------------------------ -->
//질문글개수와 답변된 게시물개수를 파악하여 답변률 그래프로 표현
let rateChart = null;

function fetchRateDataAndDrawChart() {
    $.ajax({
        url: 'responseRate',
        type: 'GET',
        dataType: 'json',
        success: function (boardData) {
            //console.log('Board data:', boardData);
            const rateLabels = boardData.map(entry => entry.totalInquiryPosts);
            const rateCounts = boardData.map(entry => entry.answeredPosts);
            //console.log('Labels:', rateLabels);
            //console.log('Counts:', rateCounts);
            drawRateChart(rateLabels, rateCounts);
        },
        error: function (error) {
            console.error('Error fetching data:', error);
        },
    });
}

//도넛 그래프를 그리기 위한 함수
function drawRateChart(rateLabels, rateCounts) {
	const answeredPost = rateCounts;  // 답변된 게시물 수
    const totalInquiryPost = rateLabels;  // 총 문의 게시물 수

    const data = {
        labels: ['답변된 게시물', '미답변 게시물'],
        datasets: [
            {
                label: '답변률',
                data: [answeredPost, totalInquiryPost - answeredPost],
                backgroundColor: ['#36a2eb', '#ff6384'],
            },
        ],
    };

    const config = {
        type: 'doughnut',
        data: data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: '답변률',
                },
            },
        },
    };

    const canvas = document.getElementById('rateChart');
    
 // 차트 재생성 전 기존차트 삭제
    if (rateChart instanceof Chart) {
    	rateChart.destroy();
    }

    // 새로운 값으로 차트 생성
    rateChart = new Chart(canvas, {
        type: 'doughnut',  
        data: data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: '답변률',
                },
            },
        },
    });

}

//<!-- ------------------------------------------------------------------------------ -->
//일별 회원가입자 수 
let joinChart = null;

function fetchJoinDataAndDrawChart() {
    $.ajax({
        url: 'dailyJoin',
        type: 'GET',
        dataType: 'json',
        success: function (joinData) {
            console.log('Join data:', joinData);
            const labels = joinData.slice(-30).map(entry => entry.joinDate);
            const counts = joinData.slice(-30).map(entry => entry.joinCount);
            console.log('Labels:', labels);
            console.log('Counts:', counts);
            drawJoinChart(labels, counts);
            
        },
        error: function (error) {
            console.error('Error fetching login data:', error);
        }
    });
}

function drawJoinChart(labels, counts) {
    const chartData = {
        labels: labels,
        datasets: [{
            label: '일일 회원가입 수',
            data: counts,
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
        }]
    };

    const canvas = document.getElementById('joinChart');
    
    // 차트 재생성 전 기존차트 삭제
    if (joinChart instanceof Chart) {
    	joinChart.destroy();
    }

    // 새로운 값으로 차트 생성 (line chart)
    joinChart = new Chart(canvas, {
        type: 'line',  // Change to 'line' for a line chart
        data: chartData,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
}

<!-- ------------------------------------------------------------------------------ -->

// 페이지 로드 시 데이터로 그래프 그리기 함수 호출
window.onload = function() {
	fetchLoginDataAndDrawChart();
    fetchHourlyLoginDataAndDrawChart();
    fetchBoardDataAndDrawChart();
    fetchRateDataAndDrawChart();
    fetchJoinDataAndDrawChart();
    // 주기적으로 데이터 업데이트 
    setInterval(function() {
        fetchLoginDataAndDrawChart();
        fetchHourlyLoginDataAndDrawChart();
        fetchBoardDataAndDrawChart();
        fetchRateDataAndDrawChart();
        fetchJoinDataAndDrawChart();
    }, 1000000);
};

</script>



<!-- ------------------------------------------------------------------------------ -->
</head>

<body>
	
	<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!-- Menu -->
      <aside
        id="layout-menu"
        class="layout-menu menu-vertical menu bg-menu-theme"
      >
      
      <div class="app-brand demo">
          <a href="/secretary/" class="app-brand-link">
            <span class="app-brand-logo demo">
              <img
                src="/secretary/assets/img/favicon/favicon.ico"
                alt="logo"
                style="width: 3rem"
              />
            </span>
            <span class="app-brand-text demo menu-text fw-bolder ms-2">관리자</span>
          </a>

          <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
          </a>
      </div>

      <div class="menu-inner-shadow"></div>

        <ul class="menu-inner py-1">
          <!-- 홈 -->
          <li class="menu-item active">
            <a href="/secretary/main" class="menu-link">
              <i class="menu-icon tf-icons bx bx-home-circle"></i>
              <div data-i18n="Analytics">홈</div>
            </a>
          </li>

          <!-- 회원목록 -->
  <li class="menu-item">
    <a th:href="@{/admin/list}" class="menu-link">
      <i class="menu-icon tf-icons bx bx-user"></i>
      <div>회원목록</div>
    </a>
  </li>

  <!-- 게시판 -->
  <li class="menu-item">
    <a th:href="@{/board/list}" class="menu-link">
      <i class="menu-icon tf-icons bx bx-message-square-detail"></i>
      <div>게시판</div>
    </a>
  </li>
  
  <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Support</span>
            </li>
            <li class="menu-item">
              <a
                href="https://chat.openai.com/"
                target="_blank"
                class="menu-link"
              >
                <i class="menu-icon tf-icons bx bx-support"></i>
                <div data-i18n="Support">고객지원</div>
              </a>
  </li>
  </ul>
</aside>

 <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar 상단바 -->
          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div
              class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none"
            >
              <a
                class="nav-item nav-link px-0 me-xl-4"
                href="javascript:void(0)"
              >
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div
              class="navbar-nav-right d-flex align-items-center"
              id="navbar-collapse"
            >
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                  <i class="bx bx-search fs-4 lh-0"></i>
                  <input
                    type="text"
                    class="form-control border-0 shadow-none"
                    placeholder="검색어를 입력하세요"
                    aria-label="검색어를 입력하세요"
                  />
                </div>
              </div>
              <!-- /Search -->

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->
                <!-- 무슨 별 -->
                <!-- <li class="nav-item lh-1 me-3">
                  <a
                    class="github-button"
                    href="https://github.com/themeselection/sneat-html-admin-template-free"
                    data-icon="octicon-star"
                    data-size="large"
                    data-show-count="true"
                    aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
                    >Star</a
                  > -->
                </li>

                <!-- 알림 종 -->
                <li
                  class="nav-item navbar-dropdown dropdown-user dropdown"
                  style="margin-right: 1.3rem"
                >
                  <a
                    class="nav-link dropdown-toggle hide-arrow"
                    href="javascript:void(0);"
                    data-bs-toggle="dropdown"
                  >
                    <!-- 종 이미지-->
                    <div class="bx bx-bell bx-tada-hover bx-sm"></div>
                  </a>

                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a
                        class="dropdown-item"
                        href=""
                        style="
                          background-color: initial; /* 배경색 초기화 */
                          color: inherit; /* 텍스트 색상 상속 */
                          text-decoration: none; /* 텍스트 밑줄 제거 */
                          cursor: auto; /* 기본 마우스 커서 모양 유지 */
                        "
                      >
                        <!-- 종 알림 -->
                        <div style="width: 30rem">
                          <div class="nav-align-top mb-4">
                            <h6 class="text-muted"></h6>
                            <ul class="nav nav-tabs nav-fill" role="tablist">
                              <li class="nav-item">
                                <button
                                  type="button"
                                  class="nav-link active"
                                  role="tab"
                                  data-bs-toggle="tab"
                                  data-bs-target="#navs-justified-home"
                                  aria-controls="navs-justified-home"
                                  aria-selected="true"
                                >
                                  <i class="tf-icons bx bx-home"></i> 필수 알림
                                  <span
                                    class="badge rounded-pill badge-center h-px-20 w-px-20 bg-label-danger"
                                    >3</span
                                  >
                                </button>
                              </li>
                              <li class="nav-item">
                                <button
                                  type="button"
                                  class="nav-link"
                                  role="tab"
                                  data-bs-toggle="tab"
                                  data-bs-target="#navs-justified-profile"
                                  aria-controls="navs-justified-profile"
                                  aria-selected="false"
                                >
                                  <i class="tf-icons bx bx-user"></i> 제안 알림
                                </button>
                              </li>
                            </ul>
                            <div class="tab-content">
                              <div
                                class="tab-pane fade active show justify-content-between"
                                id="navs-justified-home"
                                role="tabpanel"
                              >
                                <p>필수알림1</p>
                                <p class="mb-0">필수알림2</p>
                              </div>
                              <div
                                class="tab-pane fade"
                                id="navs-justified-profile"
                                role="tabpanel"
                              >
                                <p>제안알림1</p>
                                <p class="mb-0">제안알림2</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </li>
    <!-- User 유저 아이콘 -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a
                    class="nav-link dropdown-toggle hide-arrow"
                    href="javascript:void(0);"
                    data-bs-toggle="dropdown"
                  >
                    <div class="avatar avatar-online">
                      <img
                        th:src="@{/assets/img/avatars/1.png}"
                        alt
                        class="w-px-40 h-auto rounded-circle"
                      />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img
                                th:src="@{/assets/img/avatars/1.png}"
                                alt
                                class="w-px-40 h-auto rounded-circle"
                              />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block">사용자명</span>
                            <small class="text-muted">권한명</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" th:href="@{/member/profile}">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">내 프로필</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" th:href="@{/member/settings}">
                        <i class="bx bx-cog me-2"></i>
                        <span class="align-middle">설정</span>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" th:href="@{/user/logout}">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">로그아웃</span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div> 
        </nav>
        
        <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <!-- 1행 시작 -->
              <div class="row">
                <div class="col-lg-8 mb-4 order-0">
                  <div class="card">
                    <div class="d-flex align-items-end row">
                      <div class="col-sm-7">
                        <div class="card-body">
                          <h5 class="card-title text-primary">
                            환영합니다, <span th:text="${loginUser.userNickname}">닉네임</span>님!
                          </h5>
                          <p class="mb-4">
                            You have done <span class="fw-bold">72%</span> more
                            sales today. Check your new badge in your profile.
                          </p>
                        </div>
                      </div>
                      <div class="col-sm-5 text-center text-sm-left">
                        <div class="card-body pb-0 px-0 px-md-4">
                          <img
                            th:src="@{/assets/img/illustrations/man-with-laptop-light.png}"
                            height="140"
                            alt="View Badge User"
                            data-app-dark-img="illustrations/man-with-laptop-dark.png"
                            data-app-light-img="illustrations/man-with-laptop-light.png"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>   

<!-- 2행 1열 -->
  <div class="col-lg-4 mb-4">
    <div class="card">
      <div class="card-body">
        
        <div>
          <!-- 그래프를 출력할 공간 -->
          <canvas id="myChart" width="100" height="50"></canvas>
        </div>
      </div>
    </div>
  </div>

  <!-- 2행 2열 -->
  <div class="col-lg-4 mb-4">
    <div class="card">
      <div class="card-body">
        
        <div>
          <!-- 그래프를 출력할 공간 -->
          <canvas id="rateChart" width="100" height="50"></canvas>
        </div>
      </div>
    </div>
  </div>

  <!-- 3행 1열 -->
  <div class="col-lg-4 mb-4">
    <div class="card">
      <div class="card-body">
        
        <div>
          <!-- 그래프를 출력할 공간 -->
          <canvas id="hourlyChart" width="100" height="50"></canvas>
        </div>
      </div>
    </div>
  </div>

  <!-- 3행 2열 -->
  <div class="col-lg-4 mb-4">
    <div class="card">
      <div class="card-body">
        
        <div>
          <!-- 그래프를 출력할 공간 -->
          <canvas id="boardChart" width="100" height="50"></canvas>
        </div>
      </div>
    </div>
  </div>

  <!-- 4행 1열 -->
  <div class="col-lg-4 mb-4">
    <div class="card">
      <div class="card-body">
        
        <div>
          <!-- 그래프를 출력할 공간 -->
          <canvas id="joinChart" width="100" height="50"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
               
        
    <!--  
    <div>
        <canvas id="myChart" width="50" height="50"></canvas>
    </div><br>
    <div>
    	<canvas id="hourlyChart" width="50" height="50"></canvas>
    </div><br>
    <div>
    	<canvas id="boardChart" width="50" height="50"></canvas>
    </div><br>
    <div>
    	<canvas id="rateChart" width="50" height="50"></canvas>
    </div><br>
    <div>
    	<canvas id="joinChart" width="50" height="50"></canvas>
    </div>-->
    
</body>
</html>
