<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>adminHome</title>   
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- ////최근 7일 로그인 수 조회 ////-->
<script>
//새 차트를 만들 때 새로운 Chart.js 인스턴스가 할당
let myChart = null;

function fetchLoginDataAndDrawChart() {
    $.ajax({
        url: 'dailyLogin',
        type: 'GET',
        dataType: 'json',
        success: function (loginData) {
            //console.log('Login data:', loginData);
            const labels = loginData.slice(-7).map(entry => entry.loginDate);
            const counts = loginData.slice(-7).map(entry => entry.dailyLoginCount);
            //console.log('Labels:', labels);
            //console.log('Counts:', counts);
            drawLoginChart(labels, counts);
            
        },
        error: function (error) {
            console.error('Error fetching login data:', error);
        }
    });
}

function drawLoginChart(labels, counts) {
    const chartData = {
        labels: labels,
        datasets: [{
            label: '일일 로그인 수',
            data: counts,
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
        }]
    };

    const canvas = document.getElementById('myChart');
    
    // 차트 재생성 전 기존차트 삭제
    if (myChart instanceof Chart) {
        myChart.destroy();
    }

    // 새로운 값으로 차트 생성
    myChart = new Chart(canvas, {
        type: 'bar',
        data: chartData,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
}
//<!-- ------------------------------------------------------------------------------ ----------------------------------------------------->

<!-- ///##최근7일 시간별 접속자 수 출력 ##///-->

let hourlyChart = null;

function fetchHourlyLoginDataAndDrawChart() {
	// 현재 날짜를 생성
    const currentDate = new Date();

    // 날짜를 'YYYY-MM-DD' 형식의 문자열로 변환
    const formattedDate = currentDate.toISOString().split('T')[0];
    console.log('formattedDate', formattedDate);
    
    $.ajax({
        url: 'hourlyLogin',  
        type: 'GET',
        data: { date: formattedDate },
        dataType: 'json',
        success: function (hourlyData) {
            //console.log('Hourly data:', hourlyData);
         	// 시간순으로 정렬
            hourlyData.sort((a, b) => a.loginHour - b.loginHour);
            const labels = hourlyData.map(entry => entry.loginHour);
            const counts = hourlyData.map(entry => entry.loginCount);
            //console.log('Labels:', labels);
            //console.log('Counts:', counts);
            drawHourlyLoginChart(labels, counts);
        },
        error: function (error) {
            console.error('Error fetching hourly login data:', error);
        }
    });
}

function drawHourlyLoginChart(labels, counts) {
    const chartData = {
        labels: labels,
        datasets: [{
            label: '시간별 로그인 수',
            data: counts,
            fill: false,
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 2,
            pointBackgroundColor: 'rgba(75, 192, 192, 1)',
            pointRadius: 4
        }]
    };

    const canvas = document.getElementById('hourlyChart');

    const config = {
        type: 'line',
        data: chartData,
        options: {
            scales: {
                x: {
                    type: 'category',
                    labels: labels,
                    beginAtZero: true
                },
                y: {
                    beginAtZero: true
                }
            }
        }
    };

    // 차트 재생성 전 기존 차트 삭제
    if (hourlyChart instanceof Chart) {
        hourlyChart.destroy();
    }

    /// 새로운 값으로 차트 생성
    hourlyChart = new Chart(canvas, {
        type: 'line',
        data: chartData,
        options: {
            scales: {
                x: {
                    type: 'category',
                    labels: labels,
                    beginAtZero: true
                },
                y: {
                    beginAtZero: true
                }
            }
        }
    });
}
<!-- ------------------------------------------------------------------------------ -->
// 일별 전체 게시물 개수 체크 
let boardChart = null;

function fetchBoardDataAndDrawChart() {
    $.ajax({
        url: 'boardCount',
        type: 'GET',
        dataType: 'json',
        success: function (boardData) {
            //console.log('Board data:', boardData);
            const boardLabels = boardData.slice(-7).map(entry => entry.postingDate);
            const boardCounts = boardData.slice(-7).map(entry => entry.dailyPostCount);
            //console.log('Labels:', boardLabels);
            //console.log('Counts:', boardCounts);
            drawBoardChart(boardLabels, boardCounts);
            
        },
        error: function (error) {
            console.error('Error fetching board data:', error);
        }
    });
}

function drawBoardChart(labels, counts) {
    const chartData = {
        labels: labels,
        datasets: [{
            label: '일별 게시물 수',
            data: counts,
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
        }]
    };

    const canvas = document.getElementById('boardChart');
    
    // 차트 재생성 전 기존차트 삭제
    if (boardChart instanceof Chart) {
    	boardChart.destroy();
    }

    // 새로운 값으로 차트 생성
    boardChart = new Chart(canvas, {
        type: 'bar',
        data: chartData,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
}

//<!-- ------------------------------------------------------------------------------ -->
//질문글개수와 답변된 게시물개수를 파악하여 답변률 그래프로 표현
let rateChart = null;

function fetchRateDataAndDrawChart() {
    $.ajax({
        url: 'responseRate',
        type: 'GET',
        dataType: 'json',
        success: function (boardData) {
            //console.log('Board data:', boardData);
            const rateLabels = boardData.map(entry => entry.totalInquiryPosts);
            const rateCounts = boardData.map(entry => entry.answeredPosts);
            //console.log('Labels:', rateLabels);
            //console.log('Counts:', rateCounts);
            drawRateChart(rateLabels, rateCounts);
        },
        error: function (error) {
            console.error('Error fetching data:', error);
        },
    });
}

//도넛 그래프를 그리기 위한 함수
function drawRateChart(rateLabels, rateCounts) {
	const answeredPost = rateCounts;  // 답변된 게시물 수
    const totalInquiryPost = rateLabels;  // 총 문의 게시물 수

    const data = {
        labels: ['답변된 게시물', '미답변 게시물'],
        datasets: [
            {
                label: '답변률',
                data: [answeredPost, totalInquiryPost - answeredPost],
                backgroundColor: ['#36a2eb', '#ff6384'],
            },
        ],
    };

    const config = {
        type: 'doughnut',
        data: data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: '답변률',
                },
            },
        },
    };

    const canvas = document.getElementById('rateChart');
    
 // 차트 재생성 전 기존차트 삭제
    if (rateChart instanceof Chart) {
    	rateChart.destroy();
    }

    // 새로운 값으로 차트 생성
    rateChart = new Chart(canvas, {
        type: 'doughnut',  
        data: data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: '답변률',
                },
            },
        },
    });

}

//<!-- ------------------------------------------------------------------------------ -->
//일별 회원가입자 수 
let joinChart = null;

function fetchJoinDataAndDrawChart() {
    $.ajax({
        url: 'dailyJoin',
        type: 'GET',
        dataType: 'json',
        success: function (joinData) {
            console.log('Join data:', joinData);
            const labels = joinData.slice(-30).map(entry => entry.joinDate);
            const counts = joinData.slice(-30).map(entry => entry.joinCount);
            console.log('Labels:', labels);
            console.log('Counts:', counts);
            drawJoinChart(labels, counts);
            
        },
        error: function (error) {
            console.error('Error fetching login data:', error);
        }
    });
}

function drawJoinChart(labels, counts) {
    const chartData = {
        labels: labels,
        datasets: [{
            label: '일일 회원가입 수',
            data: counts,
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
        }]
    };

    const canvas = document.getElementById('joinChart');
    
    // 차트 재생성 전 기존차트 삭제
    if (joinChart instanceof Chart) {
    	joinChart.destroy();
    }

    // 새로운 값으로 차트 생성 (line chart)
    joinChart = new Chart(canvas, {
        type: 'line',  // Change to 'line' for a line chart
        data: chartData,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
}

<!-- ------------------------------------------------------------------------------ -->

// 페이지 로드 시 데이터로 그래프 그리기 함수 호출
window.onload = function() {
	fetchLoginDataAndDrawChart();
    fetchHourlyLoginDataAndDrawChart();
    fetchBoardDataAndDrawChart();
    fetchRateDataAndDrawChart();
    fetchJoinDataAndDrawChart();
    // 주기적으로 데이터 업데이트 
    setInterval(function() {
        fetchLoginDataAndDrawChart();
        fetchHourlyLoginDataAndDrawChart();
        fetchBoardDataAndDrawChart();
        fetchRateDataAndDrawChart();
        fetchJoinDataAndDrawChart();
    }, 1000000);
};

</script>



<!-- ------------------------------------------------------------------------------ -->
</head>

<body>
    <h1>ADMIN</h1>
	<a th:href="@{/admin/list}">회원목록</a>
	<a th:href="@{/board/list}">게시판</a>
    
    <div>
        <canvas id="myChart" width="50" height="50"></canvas>
    </div><br>
    <div>
    	<canvas id="hourlyChart" width="50" height="50"></canvas>
    </div><br>
    <div>
    	<canvas id="boardChart" width="50" height="50"></canvas>
    </div><br>
    <div>
    	<canvas id="rateChart" width="50" height="50"></canvas>
    </div><br>
    <div>
    	<canvas id="joinChart" width="50" height="50"></canvas>
    </div>
    
</body>
</html>
