<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <!-- Chart.js 추가 -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/Chart.min.js"></script>
</head>
<body>
  <!-- 그래프를 표시할 공간 -->
  <div>
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
  
  <!-- 카테고리 선택 UI -->
  <select id="categorySelect">
    <option value="daily-login">일일 로그인 수 조회</option>
  </select>  

  <script>
 
  </script>
</body>
</html>
