<!DOCTYPE html>
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  th:data-assets-path="@{/assets/}"
  data-template="vertical-menu-template-free"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>생비 :: 메인 페이지</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      th:href="@{/assets/img/favicon/favicon.ico}"
    />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/boxicons.css}" />

    <!-- Core CSS -->
    <link
      rel="stylesheet"
      th:href="@{/assets/vendor/css/core.css}"
      class="template-customizer-core-css"
    />
    <link
      rel="stylesheet"
      th:href="@{/assets/vendor/css/theme-default.css}"
      class="template-customizer-theme-css"
    />
    <link rel="stylesheet" th:href="@{/assets/css/demo.css}" />

    <!-- Vendors CSS -->
    <link
      rel="stylesheet"
      th:href="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}"
    />

    <link
      rel="stylesheet"
      th:href="@{/assets/vendor/libs/apex-charts/apex-charts.css}"
    />

    <!-- 소영 추가 CSS -->
    <style>
      @font-face {
        font-family: "NanumSquareNeo-Variable";
        src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
          format("woff2");
        font-weight: normal;
        font-style: normal;
      }

      body {
        font-family: "NanumSquareNeo-Variable", sans-serif;
      }
    </style>

    <!-- Page CSS -->

    <!-- 소영 추가 JS -->
    <script th:src="@{/js/jquery-3.7.0.js}"></script>
    <script th:src="@{/js/fullcalendar/dist/index.global.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:src="@{/js/main/index.js}"></script>
    <script th:src="@{/js/main/mainCal.js}"></script>
    <script th:src="@{/js/cashbook/cashbookChart.js}"></script>

    <!-- Helpers -->
    <script th:src="@{/assets/vendor/js/helpers.js}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script th:src="@{/assets/js/config.js}"></script>

    <script></script>
  </head>

  <body>
    <div
      class="modal fade"
      id="alertModal"
      data-bs-backdrop="static"
      tabindex="-1"
      style="display: none"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <form class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="alertModal">알림</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="notification">
              <div style="width: 100%">
                <div class="nav-align-top mb-4">
                  <ul class="nav nav-pills mb-3 nav-fill" role="tablist">
                    <li class="nav-item">
                      <button
                        type="button"
                        class="nav-link active"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#alertPillFridgeModal"
                        aria-controls="alertPillFridgeModal"
                        aria-selected="true"
                      >
                        <i class="tf-icons bx bx-fridge"></i> 냉장고
                      </button>
                    </li>
                    <li class="nav-item">
                      <button
                        type="button"
                        class="nav-link"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#alertPillLivinggoodsModal"
                        aria-controls="alertPillLivinggoodsModal"
                        aria-selected="false"
                      >
                        <i class="tf-icons bx bx-box"></i> 생활용품
                      </button>
                    </li>
                    <li class="nav-item">
                      <button
                        type="button"
                        class="nav-link"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#alertPillClosetModal"
                        aria-controls="alertPillClosetModal"
                        aria-selected="false"
                      >
                        <i class="tf-icons bx bx-closet"></i> 세탁물
                      </button>
                    </li>
                    <li class="nav-item">
                      <button
                        type="button"
                        class="nav-link"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#alertPillCashbookModal"
                        aria-controls="alertPillCashbookModal"
                        aria-selected="false"
                        onclick="getPilsuAlertModal();"
                      >
                        <i class="tf-icons bx bx-wallet"></i> 가계부
                      </button>
                    </li>
                  </ul>
                  <div class="tab-content flex-fill" style="height: 18rem">
                    <!-- 냉장고 알림 탭 내용 -->
                    <div
                      class="tab-pane fade show active"
                      id="alertPillFridgeModal"
                      role="tabpanel"
                    >
                      <p>냉장냉장</p>
                    </div>

                    <!-- 생활용품 알림 탭 내용 -->
                    <div
                      class="tab-pane fade"
                      id="alertPillLivinggoodsModal"
                      role="tabpanel"
                    >
                      <p>생활생활</p>
                    </div>

                    <!-- 세탁물 알림 탭 내용 -->
                    <div
                      class="tab-pane fade"
                      id="alertPillClosetModal"
                      role="tabpanel"
                    >
                      <p>옷옷옷옷</p>
                    </div>

                    <!-- 가계부 알림 탭 내용 -->
                    <div
                      class="tab-pane fade"
                      id="alertPillCashbookModal"
                      role="tabpanel"
                    >
                      <div id="pilsuAlertListDivModal">돈돈돈돈</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-secondary"
              data-bs-dismiss="modal"
            >
              닫기
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
    <script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
    <script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
    <script
      th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"
    ></script>

    <script th:src="@{/assets/vendor/js/menu.js}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script th:src="@{/assets/vendor/libs/apex-charts/apexcharts.js}"></script>

    <!-- Main JS -->
    <script th:src="@{/assets/js/main.js}"></script>

    <!-- Page JS -->
    <script th:src="@{/assets/js/dashboards-analytics.js}"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
