<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <title>그래프 연습하기</title>
    <script th:src="@{/js/jquery-3.7.0.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:src="@{/js/cashbook/cashbookChart.js}"></script>
  </head>
  <body>
    <a href="javascript:otherUserTotal();">클릭해보렴</a>

    <canvas id="lineOtherUserTotal"></canvas>
    <script>
      otherUserTotal();
    </script>
  </body>
</html>
