<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <title>그래프 연습하기</title>

    <!-- Core CSS -->
    <link
      rel="stylesheet"
      th:href="@{/assets/vendor/css/core.css}"
      class="template-customizer-core-css"
    />
    <link
      rel="stylesheet"
      th:href="@{/assets/vendor/css/theme-default.css}"
      class="template-customizer-theme-css"
    />
    <link rel="stylesheet" th:href="@{/assets/css/demo.css}" />

    <!-- Vendors CSS -->
    <link
      rel="stylesheet"
      th:href="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}"
    />

    <link
      rel="stylesheet"
      th:href="@{/assets/vendor/libs/apex-charts/apex-charts.css}"
    />

    <script th:src="@{/js/jquery-3.7.0.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:src="@{/js/cashbook/cashbookChart.js}"></script>
    <script th:src="@{/js/cashbook/statistic.js}"></script>
    <script th:src="@{/js/cashbook}"></script>
  </head>
  <body>
    <a href="javascript:mostCate2();">클릭해보렴</a>

    <div
      class="card overflow-hidden mb-4"
      style="
        position: relative;
        text-align: center;
        width: 500px;
        overflow-x: auto;
      "
    >
      <div class="card-body ps ps--active-x" id="vertical-example">
        <h5 class="card-header">DIV 타이틀</h5>
        <p>1행</p>
        <p>2행</p>
        <p>3행</p>
        <p>4행</p>
        <p>5행</p>
        <p>6행</p>
        <p>1행</p>
        <p>2행</p>
        <p>3행</p>
        <p>4행</p>
        <p>5행</p>
        <p>6행</p>
        <p>1행</p>
        <p>2행</p>
        <p>3행</p>
        <p>4행</p>
        <p>5행</p>
        <p>
          6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행6행
        </p>
        <div class="ps__rail-x" style="left: 0px; bottom: 0px">
          <div
            class="ps__thumb-x"
            tabindex="0"
            style="top: 0px; height: 232px; right: 0px"
          ></div>
        </div>
        <div class="ps__rail-y" style="top: 0px; height: 232px; right: 0px">
          <div
            class="ps__thumb-y"
            tabindex="0"
            style="top: 0px; height: 37px"
          ></div>
        </div>
      </div>
    </div>

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
    <script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
    <script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
    <script
      th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"
    ></script>

    <script th:src="@{/assets/vendor/js/menu.js}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script th:src="@{/assets/vendor/libs/apex-charts/apexcharts.js}"></script>

    <!-- Main JS -->
    <script th:src="@{/assets/js/main.js}"></script>

    <!-- Page JS -->
    <script th:src="@{/assets/js/dashboards-analytics.js}"></script>
  </body>
</html>
