<!DOCTYPE html>
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  th:data-assets-path="@{/assets/}"
  data-template="vertical-menu-template-free"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>가계부 :: 내역</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      th:href="@{/assets/img/favicon/favicon.ico}"
    />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/boxicons.css}" />

    <!-- Core CSS -->
    <link
      rel="stylesheet"
      th:href="@{/assets/vendor/css/core.css}"
      class="template-customizer-core-css"
    />
    <link
      rel="stylesheet"
      th:href="@{/assets/vendor/css/theme-default.css}"
      class="template-customizer-theme-css"
    />
    <link rel="stylesheet" th:href="@{/assets/css/demo.css}" />

    <!-- Vendors CSS -->
    <link
      rel="stylesheet"
      th:href="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}"
    />

    <link
      rel="stylesheet"
      th:href="@{/assets/vendor/libs/apex-charts/apex-charts.css}"
    />

    <!-- 소영 추가 CSS -->
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="stylesheet" th:href="@{/css/cashbookMain.css}" />
    <link rel="stylesheet" th:href="@{/css/scheduleCalendar.css}" />
    <style>
      @font-face {
        font-family: 'NanumSquareNeo-Variable';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
      }

      body {
        font-family: 'NanumSquareNeo-Variable', sans-serif;
      }
    </style>
    
    <!-- Page CSS -->

    <!-- 소영 추가 JS -->
    <script th:src="@{/js/jquery-3.7.0.js}"></script> 
    <script th:src="@{/js/cashbook/transaction.js}"></script>
    <script th:src="@{/js/cashbook/transCal.js}"></script>
    <script th:src="@{/js/fullcalendar/dist/index.global.js}"></script>

    <!-- Helpers -->
    <script th:src="@{/assets/vendor/js/helpers.js}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script th:src="@{/assets/js/config.js}"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
        <aside
          id="layout-menu"
          class="layout-menu menu-vertical menu bg-menu-theme"
        >
          <div class="app-brand demo">
            <a th:href="@{/}" class="app-brand-link">
              <span class="app-brand-logo demo">
                <img
                  th:src="@{/images/12124889.png}"
                  alt="logo"
                  style="width: 3rem"
                />
              </span>
              <span class="app-brand-text demo menu-text fw-bolder ms-2"
                >생비</span
              >
            </a>

            <a
              href="javascript:void(0);"
              class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none"
            >
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- 홈 -->
            <li class="menu-item active">
              <a th:href="@{/main}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">홈</div>
              </a>
            </li>

            <!-- 노티피케이션 -->
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Notifications</span>
            </li>

            <!-- 알림 -->
            <li class="menu-item">
              <a
                th:href="@{/main}"
                class="menu-link"
              >
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div data-i18n="Support">알림</div>
              </a>
            </li>

            <!-- 일정 -->
            <li class="menu-item">
              <a
                th:href="@{/schedule}"
                class="menu-link"
              >
                <i class="menu-icon tf-icons bx bx-table"></i>
                <div data-i18n="Support">일정</div>
              </a>
            </li>

            <!-- 인벤토리 -->
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Inventories</span>
            </li>
            <!-- 냉장고 -->
            <li class="menu-item">
                <a class="menu-link menu-toggle" href="javascript:void(0);">
                    <i class="menu-icon tf-icons bx bx-dock-top"></i>
                    <div data-i18n="Layouts">냉장고</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a class="menu-link" th:href="@{/fridge}">
                            <div data-i18n="Without menu">냉장고 홈</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <!-- 모달창을 열기 위한 버튼 -->
                        <a
                            class="menu-link"
                            href="#"
                            data-bs-toggle="modal"
                            data-bs-target="#trackingModal"
                        >
                            <div data-i18n="Food-Pattern">소비패턴 등록</div>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- 생활용품 -->
            <li class="menu-item">
                <a class="menu-link menu-toggle" href="javascript:void(0);">
                    <i class="menu-icon tf-icons bx bx-box"></i>
                    <div data-i18n="Account Settings">생활용품</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a class="menu-link" th:href="@{/livingGoods}">
                            <div data-i18n="Basic">생활용품 홈</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <!-- 모달창을 열기 위한 버튼 -->
                        <a
                            class="menu-link"
                            href="#"
                            data-bs-toggle="modal"
                            data-bs-target="#trackingModal"
                        >
                            <div data-i18n="Goods-Pattern">소비패턴 등록</div>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- 옷장 -->
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-crown"></i>
                <div data-i18n="Misc">옷장</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a th:href="@{/closet}" class="menu-link">
                    <div data-i18n="Error">옷장 홈</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a th:href="@{/closet/laundryPage}" class="menu-link">
                    <div data-i18n="Under Maintenance">세탁 바구니</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a th:href="@{/closet/styleDiary}" class="menu-link">
                    <div data-i18n="Under Maintenance">코디 일지</div>
                  </a>
                </li>
              </ul>
            </li>

            <!-- 어카운트 -->
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Account</span>
            </li>

            <!-- 가계부 -->
            <li class="menu-item">
              <a href="javascript:void(0)" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-file"></i>
                <div data-i18n="User interface">가계부</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a th:href="@{/cashbook/}" class="menu-link">
                    <div data-i18n="Alerts">가계부 홈</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a th:href="@{/cashbook/trans}" class="menu-link">
                    <div data-i18n="Alerts">내역 보기</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a th:href="@{/cashbook/chart}" class="menu-link">
                    <div data-i18n="Buttons">소비 분석</div>
                  </a>
                </li>
              </ul>
            </li>

            <!-- 서포트 -->
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Support</span>
            </li>

            <!-- 고객지원 -->
            <li class="menu-item">
              <a href="javascript:void(0)" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-support"></i>
                <div data-i18n="User interface">고객지원</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                 <a th:href="@{/board/notification/list}" class="menu-link">
                  <div data-i18n="Buttons">공지사항</div>
                 </a> 
                </li>
                <li class="menu-item">
                  <a th:href="@{/board/frequently/list}" class="menu-link">
                   <div data-i18n="Buttons">자주 묻는 질문</div>
                  </a> 
                 </li>
                 <li class="menu-item">
                    <a th:href="@{/board/inquiry/list}" class="menu-link">
                      <div data-i18n="Buttons">문의 게시판</div>
                    </a> 
                 </li>
              </ul>
            </li>
            
          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar 상단바 -->
          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div
              class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none"
            >
              <a
                class="nav-item nav-link px-0 me-xl-4"
                href="javascript:void(0)"
              >
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div
              class="navbar-nav-right d-flex align-items-center"
              id="navbar-collapse"
            >
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                  <i class="bx bx-search fs-4 lh-0"></i>
                  <input
                    type="text"
                    class="form-control border-0 shadow-none"
                    placeholder="검색어를 입력하세요"
                    aria-label="검색어를 입력하세요"
                  />
                </div>
              </div>
              <!-- /Search -->

              <ul class="navbar-nav flex-row align-items-center ms-auto">

                <!-- 알림 종 -->
                <li
                  class="nav-item navbar-dropdown dropdown-user dropdown"
                  style="margin-right: 1.3rem"
                >
                  <a
                    class="nav-link dropdown-toggle hide-arrow"
                    href="javascript:void(0);"
                    
                  >
                    <!-- 종 이미지-->
                    <div class="bx bx-bell bx-tada-hover bx-sm"></div>
                  </a>
                </li>

                <!-- User 유저 아이콘 -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a
                    class="nav-link dropdown-toggle hide-arrow"
                    href="javascript:void(0);"
                    data-bs-toggle="dropdown"
                  >
                    <div class="avatar avatar-online">
                      <img
                        th:src="@{/images/profileimg/10228364.png}"
                        alt
                        class="w-px-40 h-auto rounded-circle"
                      />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img
                                th:src="@{/images/profileimg/10228364.png}"
                                alt
                                class="w-px-40 h-auto rounded-circle"
                              />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span
                              th:text="${loginUser.userNickname}"
                              class="fw-semibold d-block"
                              >별명</span
                            >
                            <small
                              th:text="${loginUser.userId}"
                              class="text-muted"
                            ></small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" th:href="@{/member/profile}">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">내 프로필</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" th:href="@{/member/settings}">
                        <i class="bx bx-cog me-2"></i>
                        <span class="align-middle">설정</span>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" th:href="@{/user/logout}">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">로그아웃</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- 현재시각 심어놓기 -->
            <input type="hidden" id="curDateTime" value="" />
            <input type="hidden" id="curYear" value="" />
            <input type="hidden" id="curMonth" value="" />
            <input type="hidden" id="curDate" value="" />

            <!-- id 심어놓기 -->
            <input type="hidden" id="familyId" th:value="${loginUser.getFamilyId}">

            <!-- Content -->

            <!-- 컨텐츠 박스 -->
            <div class="container-xxl flex-grow-1 container-p-y">
              
              <!-- 메뉴 행 -->
              <div class="row mb-4">
                <a th:href="@{/cashbook/trans}">
                  <span style="display: inline-block">
                    <!-- 메뉴 앞 이미지 src 수정해주세요 -->
                    <img
                      th:src="@{/images/cashbookimg/11613739.png}"
                      style="height: 4rem; width: 4rem; vertical-align: middle"
                    />
                    <!-- 메뉴이름 -->
                    <h1 style="display: inline; vertical-align: middle">내역</h1>
                  </span>
                </a>
              </div>

              <!-- 컨텐츠 -->
              <div class="row">
                <!-- 1열 -->
                <div class="col-md-4 mb-4">
                  <h3>내역 추가하기</h3>
                  <div class="card">
                    <div class="d-flex align-items-end"></div>
                    <div class="card-body">
                      <!-- 입력버튼*3 -->
                      <label class="form-label" for="basic-default-apiInput">빠른 입력</label>
                      <div class="transInputBt mb-4" style="width: 100%;">
                        <button type="button" class="btn btn-outline-success" style="width: 49%" data-bs-toggle="modal" data-bs-target="#inputByImgModal">영수증 사진</button>
                        <button type="button" class="btn btn-outline-success" style="width: 49%" data-bs-toggle="modal" data-bs-target="#inputBySmsModal">SMS 메세지</button>
                      </div>
                      <h4>직접 입력</h4>
                      <form>
                        <div class="mb-3">
                          <label class="form-label" for="transDate">거래일자</label>
                          <input class="form-control" type="datetime-local" name="transDate" value="" id="transDate">
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="transType">내역 유형</label>
                          <div class="col-md" id="transType">
                            <div class="form-check form-check-inline mt-3">
                              <input class="form-check-input" type="radio" name="transType" id="inlineRadio1" value="수입">
                              <label class="form-check-label" for="inlineRadio1">수입</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="transType" id="inlineRadio2" value="지출">
                              <label class="form-check-label" for="inlineRadio2">지출</label>
                            </div>
                          </div>
                          <div>
                            <p id="transTypeError"></p>
                          </div>
                        </div>
                        <div id="transCategoriesDiv" class="mb-3">
                          <label class="form-label" for="transCategory">카테고리</label>
                          <div>
                            <div id="transCategory1Div">
                              <select id="cate1Name" name="cate1Name" class="form-select">
                              </select>
                            </div>
                            <div id="transCategory2Div">
                              <select id="cate2Name" name="cate2Name" class="form-select">
                              </select>
                            </div>
                          </div>
                          <div>
                            <p id="transCategoryError"></p> 
                          </div>
                          <!-- <div class="form-text"> You can use letters, numbers &amp; periods </div> -->
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="transPayee">거래내용</label>
                          <input type="text" name="transPayee" id="transPayee" class="form-control phone-mask" placeholder="거래처를 입력하세요">
                          <div>
                            <p id="transPayeeError"></p>
                          </div>
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="transMemo">메모</label>
                          <textarea name="transMemo" id="transMemo" class="form-control" placeholder="(선택)"></textarea>
                          <div>
                            <p id="transMemoError"></p>
                          </div>
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="transAmount">거래금액</label>
                          <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon11">₩</span>
                            <input type="text" name="transAmount" id="transAmount" class="form-control" placeholder="금액을 입력하세요" aria-label="Username" aria-describedby="basic-addon11">
                            <button type="button" id="setTransBt" class="btn btn-success col-3">입력</button>
                          </div>
                          <div>
                            <p id="transAmountError"></p>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                
                
                <!-- 2열 -->
                <div class="col-md-8 mb-4">
                  <!-- 2열 1행 -->
                  <div class="row">
                    <div class="col d-flex">
                      <h3>내역 보기</h3>
                      <span class="justify-content-end">
                        <a href="javascript:showList()" class="me-2"><i class="bx bx-md bx-list-ul"></i></a>
                        <a href="javascript:showCalendar()"><i class="bx bx-md bx-calendar"></i></a>
                      </span>
                    </div>
                  </div>
                  
                  <div class="card overflow-hidden">
                    <div class="card-body" id="transViewDiv">
                      <!-- 내역 제목 -->
                      <div class="row">
                        <h5 class="card-header">이달의 내역<span id="transCntMonth"></span>건</h5>
                      </div>
                      
                      <!-- 내역 조건 -->
                      <div class="row">
                        <!-- 페이징이랑 체크박스 있는 1열 -->
                        <div class="col-md-6">
                          <!-- 월 페이징 -->
                          <div class="row">
                            <div class="date-selector mt-4 d-flex flex-column align-items-center justify-content-center">
                              <div>
                                <i id="prevYear" class="tf-icon bx bx-chevron-left bx-sm" style="cursor: pointer;"></i>
                                <span class="display-6 mb-4" id="nowYear"></span>
                                <i id="nextYear" class="tf-icon bx bx-chevron-right bx-sm" style="cursor: pointer;"></i>
                              </div>
                              <div>
                                <i id="prevMonth" class="tf-icon bx bx-chevron-left bx-sm" style="cursor: pointer;"></i>
                                <mark><span class="display-5 mt-4" id="nowMonth"></span>월</mark>
                                <i id="nextMonth" class="tf-icon bx bx-chevron-right bx-sm" style="cursor: pointer;"></i>
                              </div>
                              <p><button type="button" id="dateReset" class="mt-3 btn btn-xs rounded-pill btn-outline-primary">오늘</button></p>
                            </div>
                          </div>
                          <!-- 체크박스 -->
                          <div class="row mt-4">
                            <div id="selectCondition">
                              <div class="row-6">
                                <div>
                                  <div class="form-check form-check-inline">
                                  <input type="hidden" value="" id="searchDate">
                                  <input class="form-check-input" type="checkbox" id="transSearchCheckIncome" value="수입" checked="true">
                                  <label class="form-check-label" for="transSearchCheckIncome">수입</label> 총 <b id="transSumIncomeMonth"></b>원
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="checkbox" id="transSearchCheckExpense" value="지출" checked="true">
                                  <label class="form-check-label" for="transSearchCheckExpense">지출</label> 총 <b id="transSumExpenseMonth"></b>원
                                </div>
                                <div class="form-check form-check-inline form-switch mb-2 mt-2">
                                  <input class="form-check-input" type="checkbox" id="transSearchCheckUserId">
                                  <label class="form-check-label" for="transSearchCheckUserId">나의 내역만 보기</label>
                                </div>  
                              </div>
                            </div>
                          </div>
                          </div>
                        </div>
                        <!-- select 있는 2열 -->
                        <div class="col-md-6">
                          <!-- 카테고리 -->
                          <div class="row">
                            <div id="selectCondition">
                              <div class="row-6">
                                <div id="transSearchCategoriesDiv" class="mb-3">
                                  <label class="form-label" for="transCategory">카테고리</label>
                                  <div>
                                    <div id="transSearchCategory1Div">
                                      <select id="cate1NameSearch" name="cate1Name" class="form-select">
                                      </select>
                                    </div>
                                    <div id="transSearchCategory2Div">
                                      <select id="cate2NameSearch" name="cate2Name" class="form-select">
                                      </select>
                                    </div>
                                  </div>  
                                  <div>
                                    <p id="transCategorySearchError"></p> 
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- 정렬 -->
                          <div class="row mb-3">
                            <label class="form-label" for="sort">정렬</label>
                            <div class="input-group input-group-merge">
                              <select id="sortBy" name="sortBy" class="form-select">
                                <option value="dateAsc">날짜 오름차순</option>
                                <option value="dateDesc" selected>날짜 내림차순</option>
                                <option value="amountAsc">금액 오름차순</option>
                                <option value="amountDesc">금액 내림차순</option>
                                <option value="payeeAsc">거래내용 가나다순</option>
                              </select>
                            </div>
                          </div>
                          <!-- 검색 -->
                          <div class="row">
                            <label class="form-label" for="search">검색</label>
                            <div class="input-group input-group-merge">
                              <select id="searchBy" name="searchBy" class="form-select">
                                <option value="all" selected>전체</option>
                                <option value="transPayee">거래내용</option>
                                <option value="transMemo">거래메모</option>
                                <option value="transAmount">거래금액</option>
                              </select>
                              <span class="input-group-text"><i class="bx bx-search"></i></span>
                              <input type="text" id="searchWord" name="searchWord" style="width: 35%" class="form-control" placeholder="검색" aria-label="검색" aria-describedby="검색">
                              <button class="btn btn-outline-success" id="searchSubmitBt">검색</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- 내역 테이블 -->
                      <div class="row mt-5">
                        <div class="table-responsive text-nowrap">
                          <div id="transListDiv" class="ps ps--active-x ps--active-y" style="overflow-y: auto; max-height: 40rem;">
                            <!-- 반복문 들어가는 자리 -->
                          </div>
 
                        </div>
                      </div>
                      <div class="ps__rail-x" style="width: 1000px; left: 0px; bottom: -872px;">
                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 508px;">
                        </div>
                      </div>
                      <div class="ps__rail-y" style="top: 872px; height: 432px; right: 0px;">
                        <div class="ps__thumb-y" tabindex="0" style="top: 289px; height: 143px;">
                        </div>
                      </div>
                    </div><!-- 카드바디 -->
                  </div> <!-- 카드 -->
                </div> <!-- 2열 -->
              </div>
            <!-- 컨텐트 박스 -->
          </div>
          <!-- / Content -->

          <!-- Footer -->
          <footer class="content-footer footer bg-footer-theme">
            <div
              class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column"
            >
              <div class="mb-2 mb-md-0">
                ©
                <script>
                  document.write(new Date().getFullYear());
                </script>
                , made with ❤️ by
                <a
                  href="https://github.com/Jihun-s/secretary"
                  target="_blank"
                  class="footer-link fw-bolder"
                  >44기4조 네조의여왕</a
                >
              </div>
            </div>
          </footer>
          <!-- / Footer -->

          <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- 수정 모달 modal -->
    <div class="modal fade" id="ModalUpdate" data-bs-backdrop="static" tabindex="-1" style="display: none;" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel1">내역 수정하기</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <input type="hidden" name="transId" id="transIdModal" value="">
              <input type="hidden" name="familyId" id="familyIdModal" value="">
              <input type="hidden" name="cashbookId" id="cashbookIdModal" value="">
              <input type="hidden" name="labelColor" id="labelColorModal" value="">
              <div class="mb-3">
                <label class="form-label" for="transDate">거래일자</label>
                <input class="form-control" type="datetime-local" name="transDate" value="" id="transDateModal">
              </div>
              <div class="mb-3">
                <label class="form-label" for="transType">내역 유형</label>
                <div class="col-md" id="transTypeModal">
                  <div class="form-check form-check-inline mt-3">
                    <input class="form-check-input" type="radio" name="transType" id="inlineRadio1Modal" value="수입">
                    <label class="form-check-label" for="inlineRadio1">수입</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="transType" id="inlineRadio2Modal" value="지출">
                    <label class="form-check-label" for="inlineRadio2">지출</label>
                  </div>
                </div>
                <div>
                  <p id="transTypeErrorModal"></p>
                </div>
              </div>
              <div id="transCategoriesDivModal" class="mb-3">
                <label class="form-label" for="transCategory">카테고리</label>
                <div>
                  <div id="transCategory1DivModal">
                    <select id="cate1NameModal" name="cate1Name" class="form-select">
                    </select>
                  </div>
                  <div id="transCategory2DivModal">
                    <select id="cate2NameModal" name="cate2Name" class="form-select">
                    </select>
                  </div>
                </div>
                <div>
                  <p id="transCategoryErrorModal"></p>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="transPayee">거래내용</label>
                <input type="text" name="transPayee" id="transPayeeModal" class="form-control phone-mask" placeholder="거래처를 입력하세요">
                <div>
                  <p id="transPayeeErrorModal"></p>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="transMemo">메모</label>
                <textarea name="transMemo" id="transMemoModal" class="form-control" placeholder="(선택)"></textarea>
                <div>
                  <p id="transMemoError"></p>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="transAmount">거래금액</label>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon11">₩</span>
                  <input type="text" name="transAmount" id="transAmountModal" class="form-control" placeholder="금액을 입력하세요" aria-label="Username" aria-describedby="basic-addon11">
                </div>
                <div>
                  <p id="transAmountErrorModal"></p>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="setTransBtModal" class="btn btn-success">수정하기</button>
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">취소</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 상세 목록 모달 modal -->
    <div class="modal fade" id="ModalDetailList" data-bs-backdrop="static" tabindex="-1" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel1">일별 내역</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="detailListDiv"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">확인</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /상세 목록 모달 -->

    <!-- SMS 입력 모달 -->
    <div class="modal fade" id="inputBySmsModal" data-bs-backdrop="static" tabindex="-1" style="display: none;" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel1">SMS로 내역 입력하기</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col mb-3">
                <label for="smsMessage" class="form-label">SMS</label>
                <input type="text" id="smsMessage" class="form-control" placeholder="카드사 결제 메세지를 붙여넣으세요.">
              </div>
            </div>
            <div id="parseBySmsResultDiv" class="row">
          </div>
          </div>
          <div id="smsModalFooter" class="modal-footer">
            <button type="button" class="btn btn-success" onclick="parseBySms();">메세지 인식하기</button>
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>

    
    <!-- 이미지 입력 모달 -->
    <div class="modal fade" id="inputByImgModal" data-bs-backdrop="static" tabindex="-1" style="display: none;" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel2">사진으로 내역 입력하기</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col mb-3">
                <label for="imgSubmitForm" class="form-label">영수증 사진 업로드</label>
                <form enctype="multipart/form-data" id="imgSubmitForm" method="post" th:action="@{/cashbook/trans/imgSubmitForm}">
                    <div class="mb-3">
                        <input class="form-control" id="receiptUpload" type="file" />
                    </div>
                </form>
              </div>
            </div>
            <div id="parseByImgResultDiv" class="row">
            </div>
          </div>
          <div id="imgModalFooter" class="modal-footer">
            <button type="button" class="btn btn-success" onclick="submitReceiptImg();">이미지 인식하기</button>
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>
    

    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
    <script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
    <script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
    <script
      th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"
    ></script>

    <script th:src="@{/assets/vendor/js/menu.js}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script th:src="@{/assets/vendor/libs/apex-charts/apexcharts.js}"></script>

    <!-- Main JS -->
    <script th:src="@{/assets/js/main.js}"></script>

    <!-- Page JS -->
    <script th:src="@{/assets/js/dashboards-analytics.js}"></script>

    <!-- 소영 추가 JS -->
    <!-- datetime 현재시간 입력 -->
    <script>
      document.addEventListener("DOMContentLoaded", dateToSysdate);
    </script> 

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>